<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./main.css">
  <script src="vue.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kodchasan&display=swap" rel="stylesheet">
  <!-- <link rel="icon" href="..." type="image" sizes="16x16"> -->
  <title>อู่แท็กซี่ A9</title>
</head>

<body>
  <div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light color_nav">
      <div class="container-fluid">
        <a class="navbar-brand logo" href="#">A9</a>
        <button class="navbar-toggler" data-bs-target="#manu" data-bs-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="manu">
          <div class="navbar-nav d-flex justify-content-end con">
            <ul class="navbar-nav">
              <li class="navbar-item">
                <a href="#" class="nav-link menu_text active">หน้าหลัก</a>
              </li>
              <li class="navbar-item">
                <a href="page2.html" class="nav-link menu_text">รถเช่า</a>
              </li>
              <li class="navbar-item">
                <a href="#condition" class="nav-link menu_text">เงื่อนไข</a>
              </li>
              <li class="navbar-item">
                <a href="#contact" class="nav-link menu_text">ติดต่อ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- Carousel -->
    <div id="multi" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li class="active" data-bs-target="#multi" data-bs-slide-to="0"></li>
        <li v-for="num in len_pro_link" class="" data-bs-target="#multi" :data-bs-slide-to="`${num}`"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active h-100">
          <div class="bg-dark w-100 d-block h-100 d-flex justify-content-center align-items-center">
            <img class="h-100" :src="`${pro_link[0]}`" alt="">
          </div>
        </div>
        <div class="carousel-item h-100" v-for="num in len_pro_link">
          <div class="bg-dark w-100 d-block h-100 d-flex justify-content-center align-items-center">
            <img class="h-100" :src="`${pro_link[num]}`" alt="">
          </div>
        </div>

      </div>
      <a href="#multi" role="button" class="carousel-control-prev" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previos</span>
      </a>
      <a href="#multi" role="button" class="carousel-control-next" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
    <!--  -->
    <div class="container-fluid">
      <div class="row">


        <!-- <div style="height: 300px;"
          class="mt-3 col-md-6 col-12 d-flex justify-content-center align-items-center flex-column bg-info">
           -->
        <div id="car_multi"
          class="carousel slide mt-3 col-md-6 col-12 d-flex justify-content-center align-items-center flex-column bg-dark"
          data-bs-ride="carousel">
          <h3 class="cur topic text-white" onclick="window.open('page2.html', '_self')">รถเช่า</h3>
          <div class="carousel-inner">
            <div class="carousel-item active h-100">
              <div class="bg-dark w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                <img class="cur h_80" onclick="window.open('page2.html', '_self')" :src="`${ob_link[0]}`">
                <div>
                  <h3 class="m-1 text" style="color: white;">
                    <p class="h_text">หมวดทะเบียน: </p>{{car[0]}}
                  </h3>
                  <h3 class="m-1 text" style="color: white;">
                    <p class="h_text">ราคา: </p>{{cost[0]}} ต่อวัน
                  </h3>
                </div>
              </div>
            </div>
            <div class="carousel-item h-100" v-for="nnn in len_ob_link">
              <div class="bg-dark w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                <img class="cur h_80" onclick="window.open('page2.html', '_self')" :src="`${ob_link[nnn]}`">
                <div>
                  <h3 class="m-1 text" style="color: white;">
                    <p class="h_text">หมวดทะเบียน: </p>{{car[nnn]}}
                  </h3>
                  <h3 class="m-1 text" style="color: white;">
                    <p class="h_text">ราคา: </p>{{cost[nnn]}} ต่อวัน
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <a href="#car_multi" role="button" class="carousel-control-prev" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previos</span>
          </a>
          <a href="#car_multi" role="button" class="carousel-control-next" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
        <!-- <a href="page2.html">เพิ่มเติม</a> -->
        <!-- </div> -->

        <div id="condition"
          class="mt-3 col-md-6 col-12 text-drak d-flex flex-column justify-content-center align-items-center color_g1">
          <h3 class="topic">เงื่อนไขการสมัคร</h3>
          <div class="row">
            <div class="col-4 d-flex justify-content-center align-items-center">
              <img class="logo_con" src="./img/Public driving license.png">
            </div>
            <p class="col-8 text d-flex align-items-center">ใบขับขี่สาธารณะ</p>

            <div class="col-4 d-flex justify-content-center align-items-center">
              <img class="logo_con" src="./img/Car identification card.png">
            </div>
            <p class="col-8 text d-flex align-items-center">บัตรติดหน้ารถ</p>

            <div class="col-4 d-flex justify-content-center align-items-center">
              <img class="logo_con" src="./img/Guarantee.png">
            </div>
            <p class="col-8 text d-flex align-items-center">เงินค้ำประกัน 3000บาท</p>

            <div class="col-4 d-flex justify-content-center align-items-center">
              <img class="logo_con" src="./img/Surety.png">
            </div>
            <p class="col-8 text d-flex align-items-center">คนค้ำประกัน (มีสลิปเงินเดือน)</p>
          </div>
        </div>
        <div class="col col-lg-2"></div>
        <div id="contact" class="mt-3 col-12 col-md-5 col-lg-4 color_g1 h-100">
          <h3 class="topic">ข้อมูลติดต่อ</h3>
          <p class="text">ที่อยู่: สหกรแท็กซี่สุวรรณภูมิ( อู่ A9 ) 2 ถนน.กำแพงเพชร 7 แขวงสวนหลวง เขตสวนหลวง กทม. 10250
          </p>
          <p class="text">
          <p class="h_text">phone: </p>0869966775</p>
          <p class="text">
          <p class="h_text">phone: </p>0843427121</p>
          <p class="text">
          <p class="h_text">phone: </p>0816420779</p>
          <p class="text">
          <p class="h_text">phone: </p>0617010701</p>
          <p class="text">
          <p class="h_text">phone: </p>0864147214</p>
        </div>
        <div class="mt-3 col-12 col-md-5 col-lg-4">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d968.9028145393452!2d100.60515902921385!3d13.741969802113383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29e3062f6fda9%3A0xe5869e8675bc3d73!2z4LmB4LiC4Lin4LiHIOC4quC4p-C4meC4q-C4peC4p-C4hyDguYHguILguKfguIfguKrguKfguJnguKvguKXguKfguIcg4LiB4Lij4Li44LiH4LmA4LiX4Lie4Lih4Lir4Liy4LiZ4LiE4LijIDEwMjUw!5e0!3m2!1sth!2sth!4v1615300301146!5m2!1sth!2sth"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <footer class=" mt-3">
      WEB DESIGN DEVELOPMENT
    </footer>
  </div>
</body>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
 https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCFK2wDFYHoEjcnktsvrD_f846_u6zL6_g",
    authDomain: "project-webdesign-2-2563.firebaseapp.com",
    databaseURL: "https://project-webdesign-2-2563-default-rtdb.firebaseio.com",
    projectId: "project-webdesign-2-2563",
    storageBucket: "project-webdesign-2-2563.appspot.com",
    messagingSenderId: "899761362410",
    appId: "1:899761362410:web:a38b9086c24000e6998e93",
    measurementId: "G-FEFX44FX85"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
<script src="./user.js"></script>

</html>