:root {
  --text_size: 25px;
  --text_font: 'Kodchasan', sans-serif;
/* h = head */
  --h_text_size: 30px;
  --h_text_font: 'Kodchasan', sans-serif;

  --con_text_size: 30px;
  --con_text_font: 'Kodchasan', sans-serif;

  --sort_text_size: 25px;
  --sort_text_font: 'Kodchasan', sans-serif;

  --menu_text_size: 25px;
  --menu_text_font: 'Kodchasan', sans-serif;

  --topic_size: 40px;
  --topic_font: 'Kodchasan', sans-serif;
}

.carousel,
.carousel-inner,
.carousel-item > img {
  height: 250px;
}

.carousel-item > img {
  object-fit: cover;
}
/* bg ภาพ */
body{
  background-image: url(/img/bg.jpg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.color_g1{
  background: rgb(255 228 115);
}
.card {
  margin: auto;
  max-width: 300px;
}

footer {
  font-weight: 400;
  color: white;
  padding: 20px 0px;
  text-align: center;
  /* แก้สี foot */
  background-color: rgb(40 41 43);
}

.con{
  width: 100%;
}

.tab_sort{
  padding: 5px;
}
.cur{
  cursor: pointer;
}.h_80{
  height: 80% !important;
}

.color_nav{
  background-color: rgb(255 228 115);
}

.logo{
    font-size: 40px;
    background-color:green;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    text-align: center;
    color: white!important;
    border: 1px solid white;
    padding-top: 0px !important;
}

.logo_con{
  width: 40%;
  margin: 3px;
}

.call_icon{
  width: 30px;
  margin: 5px;
}

.rrr{
  padding: 0 !important;
}

.img_car{
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0 !important;
  border-radius: 30px ;
}

#contact{
  padding: 15px;
}

.map{
  padding: 0 !important;
}

.text{
  font-size: var(--text_size);
  font-family: var(--text_font);
  margin-bottom: 2px;
}

.h_text{
  font-size: var(--h_text_size);
  font-family: var(--h_text_font);
  display: inline;
}

.con_text{
  font-size: var(--con_text_size);
  font-family: var(--con_text_font);
}

.sort_text{
  font-size: var(--sort_text_size);
  font-family: var(--sort_text_font);
}

.menu_text{
  font-size: var(--menu_text_size);
  font-family: var(--menu_text_font);
}

.topic{
  font-size: var(--topic_size);
  font-family: var(--topic_font);
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 0.8%;
  z-index: 99;
  font-size: 18px;
  border: 1px solid white;
  outline: none;
  background-color: #212529;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
    transition: 1s;
  background-color: rgb(255 228 115);
  color: #212529;
  border-color: rgb(255 228 115);
}
@media only screen and (min-width: 600px) {
  .carousel,
  .carousel-inner,
  .carousel-item > img {
    height: 500px;
  }
}

@media only screen and (max-width: 991px) {
  .justify-content-between{
    justify-content: flex-start !important;
  }
  .search{
    width: 100%;
  }
}
