<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./main.css">
  <script src="vue.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kodchasan&display=swap" rel="stylesheet">
  <!-- <link rel="icon" href="..." type="image" sizes="16x16"> -->
  <title>อู่แท็กซี่ A9</title>
</head>

<body>
  <div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light color_nav">
      <div class="container-fluid">
        <a class="navbar-brand logo" href="index.html">A9</a>
        <button class="navbar-toggler" data-bs-target="#manu" data-bs-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="manu">
          <div class="navbar-nav d-flex justify-content-end con">
            <ul class="navbar-nav">
              <li class="navbar-item">
                <a href="index.html" class="nav-link menu_text">หน้าหลัก</a>
              </li>
              <li class="navbar-item">
                <a href="#" class="nav-link menu_text active">ราคาเช่าขับ</a>
              </li>
              <li class="navbar-item">
                <a href="index.html#condition" class="nav-link menu_text">เงื่อนไข</a>
              </li>
              <li class="navbar-item">
                <a href="index.html#contact" class="nav-link menu_text">ติดต่อ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 h-90 mt-3 d-flex justify-content-center align-items-center bg-warning">
          <h1 class="topic">รถเช่า</h1>
        </div>
        <div class="col-12 row mt-3 tab_sort d-flex justify-content-center align-items-center bg-danger">
          <h4 class="col-2 sort_text m-0" style="text-align: right;" @click="change_num_page()">หมวดทะเบียน:</h4>
          <select class="col-2 text" v-model="sort_car">
            <option class="text" value="">หมวดทะเบียน</option>
            <option class="text" v-for="car in car" :value="`${car}`">{{car}}</option>
          </select>
          <h4 class="col-2 sort_text m-0" style="text-align: right;">ราคา:</h4>
          <select class="col-2 text" v-model="sort_cost">
            <option class="text" value="0">ราคา</option>
            <option class="text" v-for="cost in cost" :value="`${cost}`">{{cost}}</option>
          </select>
          <h4 class="col-2 sort_text m-0" style="text-align: right;">LPG/NGV:</h4>
          <select class="col-2 text" v-model="sort_gas">
            <option class="text" value="">เลือกประเภทแก๊ส</option>
            <option class="text" value="LPG">LPG</option>
            <option class="text" value="NGV">NGV</option>
            <option class="text" value="LPG/NGV">LPG/NGV</option>
          </select>
        </div>

        <div class="row col-12 rrr d-flex flex-column justify-content-center align-items-center">
          <div
            v-if="((sort_car == '') || (sort_car == ob_data[key_s[num-1]].car)) && ((sort_cost == 0) || (sort_cost == ob_data[key_s[num-1]].cost)) && ((sort_gas == '') || (sort_gas == ob_data[key_s[num-1]].gas))"
            v-for="num in len_car" style="border: solid white 5px;"
            class="bg-dark text-white mt-3 col-12 row d-flex justify-content-center align-items-center">
            <img class="col-12 col-lg-8 img_car" :src="`${ob_data[key_s[num-1]].img}`">
            <div class="col-lg-4 col">
                <p class="m-1 text"><span class="h_text">หมวดทะเบียน: </span>{{ob_data[key_s[num-1]].car}}</p>
                <p class="m-1 text"><span class="h_text">ราคา: </span>{{ob_data[key_s[num-1]].cost}} ต่อวัน</p>
                <p class="m-1 text">
                <span class="h_text">แก๊สประเภท: </span>{{ob_data[key_s[num-1]].gas}}
                </p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <footer class="mt-3">
      WEB DESIGN DEVELOPMENT
    </footer>
  </div>
</body>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
 https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCFK2wDFYHoEjcnktsvrD_f846_u6zL6_g",
    authDomain: "project-webdesign-2-2563.firebaseapp.com",
    databaseURL: "https://project-webdesign-2-2563-default-rtdb.firebaseio.com",
    projectId: "project-webdesign-2-2563",
    storageBucket: "project-webdesign-2-2563.appspot.com",
    messagingSenderId: "899761362410",
    appId: "1:899761362410:web:a38b9086c24000e6998e93",
    measurementId: "G-FEFX44FX85"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
<script src="./user.js"></script>

<!-- <script>
  let app = new Vue({
    el: '#app',
    data: {
      ref2: firebase.database().ref("todoList"),
      runIdRef2: firebase.database().ref("runId"),
    },
    methods: {
      change_num_page() {
        console.log(this.ref2);
        console.log(this.runIdRef2);
      }
    },
  })
</script> -->

</html>